<div class="aboutUsContainer">
  <div class="innerWrapper">
    <h2 class="containerHeading">About<span>We believe in being awesome.</span></h2>

    <h3 class="centeredHeading">Benefits of Futpong<span>With fupong you get the Reps. 500 in just 1 hour of play!</span></h3>
    <div>
    	<ul>
    		<li><a href="#">Video</a></li>
    		<li><a href="#">Video</a></li>
    		<li><a href="#">Video</a></li>
    		<li><a href="#">Video</a></li>
    	</ul>
    </div>

    <h3 class="centeredHeading">Our Story<span>Highlight the start of Futpong</span></h3>
    <p>Sample content</p>

  </div>
</div>
