<div class="aboutUsContainer">
  <div class="innerWrapper">
    <h2 class="containerHeading">About<span>We believe in being awesome.</span></h2>

    <h3 class="centeredHeading">Benefits of Futpong<span>With fupong you get the Reps. 500 in just 1 hour of play!</span></h3>
    <div class="contentBlock">
    	<ul class="videos cf">
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><img src="{{ 'play1.jpg' | asset_url }}"><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><img src="{{ 'play2.jpg' | asset_url }}"><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><img src="{{ 'play3.jpg' | asset_url }}"><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><img src="{{ 'play4.jpg' | asset_url }}"><div class="cover"></div></a></li> 
    	</ul>
    </div>

    <h3 class="centeredHeading">Our Story<span>Highlight the start of Futpong</span></h3>
    <div class="contentBlock">
    <ul class="people cf">
    		<li><div class="image personA"></div><div class="text"><span>Person A</span>Title</div></li>
    		<li><div class="image personB"></div><div class="text"><span>Person B</span>Title</div></li>
    		<li><div class="image personA"></div><div class="text"><span>Person C</span>Title</div></li>
    		
    	</ul>
    </div>
  </div>
</div>
