<div class="footerLead clearfix">
	<div class="innerWrapper clearfix">
		<div class="leftCol">
			<h3>Information</h3>
			<a href="#">Press Inquiries</a>
			<a href="#">School Purchases</a>
			<a href="#">Privacy Policy</a>
			<a href="#">Return Policy</a>
			<a href="#">Processing and Shipping</a>
		</div>
		
		<div class="rightCol">
			<h3>Get Updates</h3>
			
			<h4>Kick It <span>For Futpong News</span></h4>
			<input type="text" placeholder="your@email.com">
			
			
		</div>
	</div>
</div>