<div class="footerLead clearfix">
	<div class="innerWrapper clearfix">
		<div class="leftCol">
			<h3>Information</h3>
			<a href="#" class="modalTrigger">Press Inquiries <div class="modalContentSource"><h4>Press Inquiries</h4><p>We welcome all press inquiries.  We are thrilled to help you share our story.  Press inquiries should be made to curt@futpong.net.  We are happy to provide interviews, video footage, high quality photos, and background information.</p>
</div></a>
			<a href="#" class="modalTrigger">School Programs <div class="modalContentSource"><h4>School Programs</h4><p>Futpong is wildly fun, requires minimal supervision, can be played inside and outside on many different surfaces, and improves coordination.  As a result, Futpong makes a great addition to any physical education program.  We offer educational discounts and curriculum designed specifically for schools. Please send inquiries to dave@futpong.net.</p></div></a>
			<a href="#" class="modalTrigger">Privacy Policy <div class="modalContentSource"><h4>Privacy Policy</h4><p>Information such as name, email address, mailing address, credit card number, and expiration date is needed to process your order.  We do not sell, trade, or rent your personal information to third parties. We are committed to taking reasonable steps to ensure the security of your information. To prevent unauthorized access, maintain data accuracy, and ensure the appropriate use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.
We have no intention of collecting personal information from children. If a child has provided us with personal information, we ask that a parent or guardian of the child contact us at info@futpong.net to have the child’s information deleted.
If we decide to change our Privacy Policy, we will post those changes on this page, so you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.
You may email us with any further questions or concerns regarding this Privacy Policy at info@futpong.net.</p></div></a>
			<a href="#" class="modalTrigger">Return Policy <div class="modalContentSource"><h4>Return Policy</h4><p>We are confident that you are going to love Futpong!  Our satisfaction guarantee allows products to be returned within 30 days from the date of delivery for a full refund. The purchase price (excluding shipping and handling charges) will be applied to the credit card used to make the original purchase.  Futpong products are guaranteed to be free of manufacturing defects for 365 days from the date of purchase.  This warranty does not cover damages resulting from misuse, lost merchandise, or damage from the elements.  For all returns please contact info@futpong.net for instructions and a return authorization number.
</p></div></a>
			
		</div>
		
		<div class="rightCol">
			<h3>Get Updates</h3>
			
			<h4>Kick It <span>For Futpong News</span></h4>
			<input type="text" placeholder="your@email.com">
			
			
		</div>
	</div>
</div>