<div class="programsContainer">
  <div class="innerWrapper">
    <h2 class="containerHeading">Programs</h2>

		<div class="programsLeftCol">
			<h3>Challenge</h3>
			<p>description text</p>
			<a href="#">Download Rules &amp Setup</a>
		</div>
		
		<div class="programsRightCol">
			<h3>Tournament Play</h3>
			<p>description text</p>
			<a href="#">Download Official Rules</a>
		</div>

  </div>
</div>
