<div class="programsContainer">
  <div class="innerWrapper cf">
    <h2 class="containerHeading" id="getstarted">Programs</h2>

		<div class="programsLeftCol">
			<h3>Futpong Challenge</h3>
			<p>Taking the Futpong Challenge is easy.</p>
			<ol>
				<li>Assess skill level. Give players five minutes to get the highest number of juggles in a row with an age appropriate soccer ball.</li>
				<li>Show them how to play Futpong and send them home with a set.  Give them one month to play as many games as possible (minimum 30, but better to play 50-60 games).</li>
				<li>Bring them back together for a Futpong Tournament.</li>
				<li>After the tournament give them another five minute skill assessment.</li>
				
			</ol>
			<p>Encourage the kids to juggle as much as possible during the month with their Futpong ball - it'll make their Futpong play better and you'll be amazed at the skill development.</p>
			<a href="{{ 'basic_rules_and_setup.pdf' | asset_url }}" class="button"><span><svg width="15px" height="19px" viewBox="0 0 15 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
    <title>downloadicon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-365.000000, -2598.000000)" fill-opacity="0.554970562" fill="#FFFFFF">
            <g id="Programs-Row" sketch:type="MSLayerGroup" transform="translate(230.000000, 2310.000000)">
                <g id="Button1-Copy" transform="translate(110.000000, 271.000000)" sketch:type="MSShapeGroup">
                    <g id="downloadicon" transform="translate(25.000000, 17.000000)">
                        <g id="Group">
                            <g id="Page-1">
                                <g id="Core">
                                    <g id="file-download" transform="translate(0.000000, 0.535714)">
                                        <path d="M15,6.42857143 L10.7142857,6.42857143 L10.7142857,0 L4.28571429,0 L4.28571429,6.42857143 L0,6.42857143 L7.5,13.9285714 L15,6.42857143 L15,6.42857143 L15,6.42857143 Z M0,16.0714286 L0,18.2142857 L15,18.2142857 L15,16.0714286 L0,16.0714286 L0,16.0714286 L0,16.0714286 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></span> Download Rules &amp Setup</a>
		</div>
		
		<div class="programsRightCol">
			<h3>Futpong Tournament</h3>
			<p>We've developed official tournament rules - download them below.  We've hosted tournaments in a variety of ways, but the following approach seems to work best:</p>
			
			<ol>
				<li>Setup enough courts for all players to participate</li>
				<li>Tell the players that one end of the line of courts is for the most skilled players and one end is for the least skilled players</li>
				<li>Allow the players to chose which court to start playing on</li>
				<li>Play games for five minutes after which the winner advances one court to the more skilled side and the loser moves one court to the less skilled side</li>
				<li>Play enough games so that any player would have had an opportunity to move to the most skilled court if they had one all of their games</li>
				<li>Have the players on the top two courts play semi final and final elimination rounds.</li>
				<li>Award a trophy to your Futpong Master!</li>
				
			</ol>
			
			<p>Best to split the courts into two columns if you have more than 8 courts in your tournament.</p>
			
			<a href="#" class="button red"><span><svg width="15px" height="19px" viewBox="0 0 15 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
    <title>downloadicon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-365.000000, -2598.000000)" fill-opacity="0.554970562" fill="#FFFFFF">
            <g id="Programs-Row" sketch:type="MSLayerGroup" transform="translate(230.000000, 2310.000000)">
                <g id="Button1-Copy" transform="translate(110.000000, 271.000000)" sketch:type="MSShapeGroup">
                    <g id="downloadicon" transform="translate(25.000000, 17.000000)">
                        <g id="Group">
                            <g id="Page-1">
                                <g id="Core">
                                    <g id="file-download" transform="translate(0.000000, 0.535714)">
                                        <path d="M15,6.42857143 L10.7142857,6.42857143 L10.7142857,0 L4.28571429,0 L4.28571429,6.42857143 L0,6.42857143 L7.5,13.9285714 L15,6.42857143 L15,6.42857143 L15,6.42857143 Z M0,16.0714286 L0,18.2142857 L15,18.2142857 L15,16.0714286 L0,16.0714286 L0,16.0714286 L0,16.0714286 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></span> Download Official Rules</a>
		</div>

  </div>
</div>
