<div class="programsContainer">
  <div class="innerWrapper cf">
    <h2 class="containerHeading" id="getstarted">Programs</h2>

		<div class="programsLeftCol">
			<h3>Challenge</h3>
			<p>Description text to showcase this item. I assume this text may be significant in length but I am not certain.</p>
			<a href="#" class="button"><span><svg width="15px" height="19px" viewBox="0 0 15 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
    <title>downloadicon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-365.000000, -2598.000000)" fill-opacity="0.554970562" fill="#FFFFFF">
            <g id="Programs-Row" sketch:type="MSLayerGroup" transform="translate(230.000000, 2310.000000)">
                <g id="Button1-Copy" transform="translate(110.000000, 271.000000)" sketch:type="MSShapeGroup">
                    <g id="downloadicon" transform="translate(25.000000, 17.000000)">
                        <g id="Group">
                            <g id="Page-1">
                                <g id="Core">
                                    <g id="file-download" transform="translate(0.000000, 0.535714)">
                                        <path d="M15,6.42857143 L10.7142857,6.42857143 L10.7142857,0 L4.28571429,0 L4.28571429,6.42857143 L0,6.42857143 L7.5,13.9285714 L15,6.42857143 L15,6.42857143 L15,6.42857143 Z M0,16.0714286 L0,18.2142857 L15,18.2142857 L15,16.0714286 L0,16.0714286 L0,16.0714286 L0,16.0714286 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></span> Download Rules &amp Setup</a>
		</div>
		
		<div class="programsRightCol">
			<h3>Tournament Play</h3>
			<p>Description text to showcase this item. I assume this text may be significant in length but I am not certain.</p>
			<a href="#" class="button red"><span><svg width="15px" height="19px" viewBox="0 0 15 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
    <title>downloadicon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-365.000000, -2598.000000)" fill-opacity="0.554970562" fill="#FFFFFF">
            <g id="Programs-Row" sketch:type="MSLayerGroup" transform="translate(230.000000, 2310.000000)">
                <g id="Button1-Copy" transform="translate(110.000000, 271.000000)" sketch:type="MSShapeGroup">
                    <g id="downloadicon" transform="translate(25.000000, 17.000000)">
                        <g id="Group">
                            <g id="Page-1">
                                <g id="Core">
                                    <g id="file-download" transform="translate(0.000000, 0.535714)">
                                        <path d="M15,6.42857143 L10.7142857,6.42857143 L10.7142857,0 L4.28571429,0 L4.28571429,6.42857143 L0,6.42857143 L7.5,13.9285714 L15,6.42857143 L15,6.42857143 L15,6.42857143 Z M0,16.0714286 L0,18.2142857 L15,18.2142857 L15,16.0714286 L0,16.0714286 L0,16.0714286 L0,16.0714286 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></span> Download Official Rules</a>
		</div>

  </div>
</div>
