<div class="anchor" id="whatis"></div>
<div class="container whatisContainer">
  <div class="innerWrapper cf">
    <h2 class="containerHeading" style="margin-bottom: 1em;">Welcome  <span>What is Futpong?</span></h2>
  </div>
</div>

    <img src="{{ 'what_is_futpong.png' | asset_url }}" alt=" " class="whatisfutpong">
<div class="container whatisContainer_b">
  <div class="innerWrapper cf">
	<p>If Soccer and Tennis had a baby, they'd name it Futpong and take it to the party.  The magic happens because of the small ball and small court, which puts you in head-to-head competition.  Browse our site, and if you fall in love with Futpong, pickup a set today.</p>
		


  </div>
</div>
