<div class="anchor" id="whatis"></div>
<div class="container whatisContainer">
  <div class="innerWrapper cf">
    <h2 class="containerHeading" style="margin-bottom: 1em;">Welcome!  <span>What in the world is Futpong you ask?</span></h2>

	<p>If Soccer and Tennis had a baby, they'd name it Futpong and take it to the party.  It's easy to start playing, but to achieve mastery you'll need to develop superhuman speed and control.  The magic happens because of the small ball and small court, which puts you in head-to-head competition.  Browse our site to learn more, and if you fall in love, grab a Futpong set today!</p>
		


  </div>
</div>
